.expenses {
    padding: 1rem;
    background-color: rgba(117, 118, 118, 0.46); /* Полупрозрачный фон */
    margin: 2rem auto;
    width: 50rem; /* Ширина контейнера */
    max-width: 95%; /* Адаптивная ширина для меньших экранов */
    border-radius: 12px;
}

/* Додаємо стиль для кнопки видалення */
button {
    background-color: #6a0dad; /* красивий фіолетовий колір */
    color: white; /* білий колір тексту */
    border: none; /* без рамки */
    padding: 0.5rem 1rem; /* внутрішні відступи для зручності */
    border-radius: 8px; /* закруглені кути */
    cursor: pointer; /* курсор у вигляді руки */
    transition: background-color 0.3s ease; /* плавний перехід кольору */
}

/* Ефект при наведенні курсора */
button:hover {
    background-color: #8a2be2; /* світліший відтінок фіолетового для ефекту при наведенні */
}