.expenses {
    padding: 1rem;
    background-color: rgba(117, 118, 118, 0.46); /* Полупрозрачный фон */
    margin: 2rem auto;
    width: 50rem; /* Ширина контейнера */
    max-width: 95%; /* Адаптивная ширина для меньших экранов */
    border-radius: 12px;
}